---
layout: page
permalink: portfolio/
title: Portfolio
redirect_from:
 - /client-showcase.html
---


<div class="container-fluid">
	<div class="container">
		<div class="row">	
			<a href="http://uksga.org/" target="_blank">
				<div class="col-xs-12 col-sm-6 col-md-6 center" tabindex="0">
					<div class="box">
						<img id="uk_img" src="/assets/img/portfolio/uk.png" alt="University Of Kentucky Logo" />
					</div>
					<h3 class="center">University Of Kentucky</h3>
					<p>Our work is visible across campus.  It ranges from designing Drupal sites, collecting data for research programs, mobile app development, and developing custom platforms for the athletics program.</p>
				</div>
			</a>
			<a href="https://www.pcusa.org/" target="_blank">
				<div class="col-xs-12 col-sm-6 col-md-6 center" tabindex="1">
					<div class="box">
						<img src="/assets/img/portfolio/presbyterian_church_grey.png" alt="PC USA Logo" />
					</div>
					<h3 class="center">PC USA</h3>
					<p>APAX has partnered with the Presbyterian Church to provide support and enhancements for their software infrastructure. APAX provides full stack support for their Django, ASP.Net, PHP, and mobile platforms.</p>
				</div> 
			</a>
		</div>

		<div class="row">	
			<a href="https://mobileserve.com/" target="_blank">
				<div class="col-xs-12 col-sm-6 col-md-6 center" tabindex="0">
					<div class="box">
						<img id="mobileserve_img" src="/assets/img/portfolio/mobile-serve-logo.png" alt="MobileServe Logo" />
					</div>
					<h3 class="center">MobileServe</h3>
					<p>APAX built the web and mobile platform for MobileServe from the ground up, and we’re rolling out new features every week! The core system is built on django and also includes apps for iOS and Android.</p>
				</div>
			</a>
			<a href="https://www.keeneland.com/racing/app" target="_blank">
				<div class="col-xs-12 col-sm-6 col-md-6 center" tabindex="1">
					<div class="box">
						<img id="keeneland_img" src="/assets/img/portfolio/keeneland_logo_grey.jpg" alt="Keeneland Logo" />
					</div>
					<h3 class="center">Keeneland</h3>
					<p>APAX partnered with Cornett to build and maintain the Keeneland Race Day mobile platform. The app aggregates data from several sources to allow users to view race odds, payouts, and results.</p>
				</div> 
			</a>
		</div>

		<div class="row">	
			<a href="https://www.lexingtonky.gov/" target="_blank">
				<div class="col-xs-12 col-sm-6 col-md-6 center" tabindex="0">
					<div class="box">
						<img src="/assets/img/portfolio/LFUCG_smallcolor_grey.jpg" alt="LFUCG Logo" />
					</div>
					<h3 class="center">LFUCG</h3>
					<p>APAX provides ongoing web application development and mobile services to LFUCG. We support the lexingtonky.gov website and have developed a number of mobile platforms for the city of Lexington.</p>
				</div>
			</a>
			<a href="https://www.bullard.com/" target="_blank">
				<div class="col-xs-12 col-sm-6 col-md-6 center" tabindex="1">
					<div class="box">
						<img id="bullard_img" src="/assets/img/portfolio/bullard.png" alt="Bullard Logo" />
					</div>
					<h3 class="center">Bullard</h3>
					<p>APAX helps Bullard with the software that powers their thermal imaging products. APAX works closely with the internal engineers at Bullard to support continued development and debugging of each new line of products.</p>
				</div> 
			</a>
		</div>

	</div>
</div>



<!-- 
		<script>
		$(document).ready(function(){
		    $("#mobileserve").click(function(){
		    	if ($("#mobileserve").hasClass("portfolio_description") === false) {
		    	    event.preventDefault();
		    	}
		        $("#mobileserve-img").hide();
		        $("#mobileserve").addClass("portfolio_description");
		    });
		    $("#keeneland").click(function(){
		    	if ($("#keeneland").hasClass("portfolio_description") === false) {
		    	    event.preventDefault();
		    	}
		        $("#keeneland-img").hide();
		        $("#keeneland").addClass("portfolio_description");
		    });
		    $("#uk").click(function(){
		    	if ($("#uk").hasClass("portfolio_description") === false) {
		    	    event.preventDefault();
		    	}
		    	$("#uk-img").hide();
		        $("#uk").addClass("portfolio_description");
		    });
		    $("#lfucg").click(function(){
		    	if ($("#lfucg").hasClass("portfolio_description") === false) {
		    	    event.preventDefault();
		    	}
		    	$("#lfucg-img").hide();
		        $("#lfucg").addClass("portfolio_description");
		    });
		    $("#bullard").click(function(){
		    	if ($("#bullard").hasClass("portfolio_description") === false) {
		    	    event.preventDefault();
		    	}
		    	$("#bullard-img").hide();
		        $("#bullard").addClass("portfolio_description");
		    });
		    $("#pcusa").click(function(){
		    	if ($("#pcusa").hasClass("portfolio_description") === false) {
		    	    event.preventDefault();
		    	}
		    	$("#pcusa-img").hide();
		        $("#pcusa").addClass("portfolio_description");
		    });
		});
		</script>
 -->
<!-- 
			<div class="col-md-10 col-md-offset-1">
				{% for company in site.data.portfolio %}
				<div class="col-md-4 col-sm-6 col-xs-12">

					<div id="{{company.name}}" class="box horizontal col-xs-12" tabindex="0">

						<a href="#">
							<div
							  {% if company.name == 'bullard' %}
							  	class="vertical bullard_img"
							  {% endif %}
							  {% if company.name == 'mobileserve' %}
							  	class="vertical mobileserve_img"
							  {% else %}
							    class="vertical"
							  {% endif %}
							>
								<img id="{{company.name}}-img" src="/assets/img/portfolio/{{ company.image_url }}" alt="{{ company.company }} Logo" />
							</div>
							<a class="more_info" href="#">
								<span id="{{company.name}}-description" class="col-xs-8">Visit Site</span>
								<span><i class="fa fa-arrow-circle-right col-xs-4" aria-hidden="true"></i></span>
							</a>
						</a>

						<a  id="{{ company.name }}-description" href="{{ company.site_url }}" target="_blank">
							<div>
								<h5>{{ company.company }}</h5>
								<p>{{ company.description }}</p>		
							</div>
						</a>

					</div>

				</div>
				{% endfor %}
				<h3 class="text-center">Plus hundreds of others...</h3>
				<br />
			</div> <!-- col-md-10 -->



