---
layout: page
permalink: services/
redirect_from:
 - /mobile-app-development.html
 - /servies-main.html
 - /web-design.html
 - /graphic-design.html
title: Services
---

<!-- REDO OF SERVICES LIST -->
<!-- <div class="container-fluid top-container">
	<div class="container">
		<div class="row center">	
			<h1>SERVICES</h1>
			<div class="mac-frame computer"></div>
			<div class="text-left col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
				<ul>
					<li>Custom software</li>
					<li>Website development</li>
					<li>iOS and Android development</li>
					<li>Graphic design</li>
					<li>User experience (UX) design</li>
					<li>Quality assurance testing</li>
					<li>Project management</li>
					<li>Data analysis and visualization</li>
					<li>HIPAA compliance</li>
					<li>WCAG / Section 508 compliance</li>
				</ul>
			</div>

			{% include scheduler.html %}
		</div>
	</div>
</div> -->
			

<div class="container-fluid top-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 carousel-frame center" tabindex="0">
				<div class="iphone-frame"></div>
				<h3 class="center">Mobile Apps</h3>
				<p class="">We support iOS, Android, and cross-platform products built from the ground up.</p>
			</div>		
			<div class="col-xs-12 col-sm-6 col-md-6 carousel-frame center" tabindex="1">
				<div class="mac-frame computer"></div>
				<h3 class="center">Web Apps</h3>
				<p>From idea to execution, our expert team of web developers will guide you every step of the way. We build websites that are fast, secure, and easy to maintain. </p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-xs-12 col-md-6 center" tabindex="2">
				<img src="/assets/img/software-consulting.png" class="test-class" alt="software consulting from APAX software">
				<h3 class="center">Software Consulting</h3>
				<p>Not sure how to get started? Apax offers a managed agile process to software development that helps leverage our collective strengths to develop a great product. We meet with our clients regularly and facilitate reviews and planning sessions during all parts of the development cycle.</p>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-6 center" tabindex="3">
				<img src="/assets/img/graphic-design.png" alt="graphic design from APAX software">
				<h3 class="center">Graphic Design</h3>
				<p>We offer graphics design services on all of our solutions and can help make your project look amazing! We can help create your logo, site theme, mobile platform, system template, process workflow, and more.</p>
			</div>

			{% include scheduler.html %}
		</div>
	</div>
</div>

<div class="clearfix" />
