<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class="mobile" src="/assets/img/Apax_logo_red.png" alt="APAX Software Logo" height="45px" style="margin-top: 4px;"> </a>
           <!-- Old Header Text 
           <a class="navbar-brand" href="#"><b>Awesome Inc</b></a>
           -->
           <!-- Added to make the logo move down a little.
           -->
          <!-- <div style="margin: 0px; padding:0px; clear: both; height: 6px"> -->
        &nbsp;
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" style="min-width:0"> <!-- RIGHT ALIGNED NAVBAR -->
            <li {% if page.path contains 'about' %} class="active" {% endif %}>   <!-- ABOUT -->
                <a data-toggle="collapse" data-target=".navbar-collapse" href="/about/">About</a>
              </li> 
            <li {% if page.path contains 'services' %} class="active" {% endif %}>  <!-- SERVICES -->
                <a data-toggle="collapse" data-target=".navbar-collapse" href="/services/">Services</a>
              </li>
            <li {% if page.path contains 'portfolio' %} class="active" {% endif %}>    <!-- Work -->
                <a data-toggle="collapse" data-target=".navbar-collapse" href="/portfolio/">Portfolio</a>
            </li>
            <li {% if page.path contains 'team' %} class="active" {% endif %}>   <!-- Team -->
                <a data-toggle="collapse" data-target=".navbar-collapse"  href="/team/">Team </a>
              </li>
            <li {% if page.path contains 'contact' %} class="active" {% endif %}> <!-- Contact -->
                <a data-toggle="collapse" data-target=".navbar-collapse"  href="/contact/">Contact</a>
            </li>
            <li class="dropdown"> <!-- Community -->

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #bbbbbb">
                  <span class="caret"></span>
              <!-- <img src="/assets/img/ainc_community_logo.png" width="20px" height="20px"> -->
                  Community
                </a>
                <ul class="dropdown-menu">
                  <li><a href="http://www.awesomeinc.org" target="_blank">Startups</a></li>
                  <li><a href="http://www.awesomeincu.com" target="_blank">Coding Courses</a></li>
                    <!-- <a href="http://www.apaxsoftware.com" target="_blank">Software</a> -->
                  <li><a href="http://www.cherubfund.org" target="_blank">Investment</a></li>
                  <li><a href="http://www.awesomeinc.org/about#calendar" target="_blank">Events</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- <div style="clear:both"></div> -->
        </div><!--/.container -->
    </nav>