---
---
//colors
$color_alto_approx: rgb(222, 222, 222);
$color_cardinal_approx: #ed2c3f;  // was #c31337
$color_pumice_approx: rgb(200, 200, 200);
$color_shady_lady_approx: rgb(165, 165, 165);
$color_pippin_approx: rgb(255,222,223);
$color_light_red: #C90A1F;
$color_background_red: #C02129;
$color_background_red_alpha: rgba(192, 33, 41, 0.5);
$color_background_grey: #DEDEDE;
$gray: gray;
$black: black;
$color_silver_chalice_approx: #aaa;
/*
//mobile sizes
$break-small: 500px;
$break-large: 1200px;*/

/*****pages*****/
@mixin about_page {
	.About-wrap { 
		@content;
	}
}

@mixin services_page {
	.Services-wrap { 
		@content;
	}
}

@mixin portfolio_page {
	.Portfolio-wrap { 
		@content;
	}
}

@mixin team_page {
	.Team-wrap { 
		@content;
	}
}

@mixin contact_page {
	.Contact-wrap { 
		@content;
	}
}

/********************************** Font *********************************************/

@function calcSizeLarge($scale) {
	$fontSize: 12px;
	@return $fontSize * $scale; 
}
@function calcSizeSmall($scale) {
	$fontSize: 9px;
	@return $fontSize * $scale; 
}
@mixin font-size($scale) {
	@include mobile {
		font-size: calcSizeSmall($scale);
	}
	font-size: calcSizeLarge($scale);
}
@mixin line-height($scale) {
	@include mobile {
		line-height: calcSizeSmall($scale);
	}
	line-height: calcSizeLarge($scale);
	
}


/********************************** Device Mixins ************************************/

$tablet_width: 771px;
$desktop_width: 1000px;
$xlarge_width: 1400px;
$phablet_width: $tablet_width - 1;
$mobile_width: 450px;

@mixin tablet {
	@media (min-width: #{$tablet_width}) and (max-width: #{$desktop_width - 1px}) {
		@content;
	}
}
@mixin phablet {
	@media (min-width: #{$mobile_width + 1}) and (max-width: #{$phablet_width}) {
		@content;
	}
}
@mixin not_desktop {
	@media (max-width: #{$desktop_width}) {
		@content;
	}
}
@mixin mobile {
	@media (max-width: #{$mobile_width}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop_width}) {
		@content;
	}
}
@mixin xlarge {
	@media (min-width: #{$xlarge_width}){
		@content;
	}
}

/********************************** Animations ****************************************/

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@include keyframes(fadeFromTop) {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};  
  animation-fill-mode: both;    
}

@mixin transition($prop, $clock, $type) {
  -webkit-transition: $prop $clock $type;
  -moz-transition: $prop $clock $type;
  -ms-transition: $prop $clock $type;
  -o-transition: $prop $clock $type;
  transition: $prop $clock $type;  
}

@include keyframes(fadeFromTopSlow) {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
	}
}

@include keyframes(fadeFromBot) {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@include keyframes(fadeIn) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@include keyframes(fadeOut) {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@include keyframes(fadeInSlow) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@include keyframes(scaleUp) {
	0% {
		scale: 0;
	}
	100% {
		scale: 100;
	}
}

@include keyframes(letterSpacing) {
		0% {
			transform: translateY(-25%);
			letter-spacing: 20px;
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			letter-spacing: 30px;
			opacity: 1;
		}
}

@include keyframes(spin) {
	0% { rotation: 0; }
	50% { rotation: 210; }
	90% { rotation: 360; }
}

@mixin slide-right($amt) {
	margin-left: $amt;
}

.fade-in {
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 0.8s;
}
.fade-out {
	animation-name: fadeOut;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 0.8s;
}
.fade-in-slow, .fc-animate {
	animation-name: fadeInSlow;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2.1s;
}

.fade-in-top {
	animation-name: fadeFromTop;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1.6s;
}

.fade-in-top-slow {
	animation-name: fadeFromTop;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 3.1s;
}

.fade-in-bot {
	animation-name: fadeFromBot;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1.6s;
}
.fade-in-bot-slow {
	animation-name: fadeFromBot;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 3.1s;
}

@include desktop {
	.letter-spacing {
		animation-name: letterSpacing;
		animation-iteration-count: 1;
		animation-timing-function: ease-out;
		animation-duration: 3.1s;
	}
}

/* scale link on hover */
@media (min-width: #{$tablet_width}) {
	a.scale-hover{
		display: inline-block;
		overflow: hidden;
		padding: 0 8px;
		height: 1em;
		span {
			position: relative;
			display: inline-block;
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
			padding: 0 10px;
			&:before {
				position: absolute;
				top: 100%;
				color: white;
				content: attr(data-hover);
				font-weight: 700;
				-webkit-transform: translate3d(0,0,0);
				-moz-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
		}
		&:hover span,
		&:focus span {
			-webkit-transform: translateY(-100%);
			-moz-transform: translateY(-100%);
			transform: translateY(-100%);		
		}
	}
}

/* BOUNCE RIGHT */
@keyframes bounce {
	0%,10%,20%,50%,80%,100%{transform:translateY(0)}
	40%{transform:translateX(10px)}
	60%{transform:translateX(10px)}
}

.faa-bounce.animated,
.faa-bounce.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-bounce {
	animation: bounce 2s ease infinite;
}
.faa-bounce.animated-delay {
	animation-delay: 5s;
}
.faa-bounce.animated.faa-fast,
.faa-bounce.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-bounce.faa-fast {
	animation: bounce 1s ease infinite;
}
.faa-bounce.animated.faa-slow,
.faa-bounce.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-bounce.faa-slow {
	animation: bounce 3s ease infinite;
}

/*************************** hamburger menu ****************************/
navbar-header img.mobile {
	margin-top: 4px;
}
@media (max-width: 768px) {
	.mobile {
		margin-top: 9px;
	}
	.c-hamburger {
	  display: block;
	  position: relative;
	  overflow: hidden;
	  margin: 3;
	  padding: 0;
	  width: 50px;
	  height: 46px;
	  font-size: 0;
	  text-indent: -9999px;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  box-shadow: none;
	  border-radius: none;
	  border: none;
	  cursor: pointer;
	  -webkit-transition: background 0.3s;
	          transition: background 0.3s;
	}
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 8px;
  right: 8px;
  height: 6px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -13px;
}

.c-hamburger span::after {
  bottom: -13px;
}
.c-hamburger--htx {
  background-color: #ddd;
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active, 
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: $color_shady_lady_approx;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}



/********************************** Consistencies ************************************/

.center {
	text-align: center;
	margin: auto;
	display: block;
}
.col-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.mobile-hide {
	display: none;
}
hr {
	&.vertical {
		height: 100%;
		width: 0;
		border: 1px solid black;
	}
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}
.navbar-default {
    border-bottom: 1px solid black;
}
.navbar-default .navbar-nav {
	li.active > a {
		background-color: #e6e6e6;
		color: $color_cardinal_approx;
	}
	a {
		font-weight: 500;
	}
		> li > a {
		@include tablet {
			padding:15px 10px;	
		}
	}
	.dropdown-menu {
		li {
			padding: 5px 0;
			a {
				color: #777;
				&:hover {
					color: #333;
					background-color: transparent;
				}
			}
		}
	}
}

/* 5 equal columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

h3 {
	color: white;
	@include font-size(3);
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
	a {
		color: white;
	}
	i {
    	color: white;
    	margin-top: 12px;
    	@include font-size(4);
	}
	@include mobile {
		font-size: 16px;
	}
}

.top-container {
	h1 {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.custom-carousel {
	width: 70%;
	margin: 0 auto;
	.slider-size {
		height: 400px;
	}
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 80%;
		margin: auto;
	}
	.carousel-control.left {
		margin-left: -125px;
	}
	.carousel-control.right {
		margin-right: -125px;
	}
	.carousel-control.left, .carousel-control.right {
		background-image: none;
		top: 50%;
		position: absolute;
		z-index: 5;
	}
	h1 {
		text-transform: uppercase;
		text-align: center;
		@include font-size(1.5);
		letter-spacing: 4px;
		color: white;
		font-weight: 600;
	}
	
	/******** fade ******/
	&.carousel-fade {
		.carousel-inner {
			.item {
				transition-property: opacity;
			}
			.item,
			.active.left,
			.active.right {
				opacity: 0;
			}
			.active,
			.next.left,
			.prev.left {
				opacity: 1;
			}
			.next,
			.prev,
			.active.left,
			.active.right {
				left: 0;
				transform: translate3d(0, 0, 0);
			}
		}
	}
}

/************************************* Boxes *****************************************/

.box {
    background-color: white;
    float: none;
    height: 225px;
    width: 225px;
    margin: 15% auto;
    &.horizontal {
        display: flex;
        justify-content: center;

    }
    .vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img {
        margin-left: 10%;
        width: 80%;
    }
    h5 {
        text-align: left;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 8%;
        @include font-size(1.25);

        @include tablet {
            font-size: 16px;
        }

        @include mobile {
            @include font-size(1.75);
        }
    }
    .hover-fade {
        display: none;
        p {
            margin: 8%;
            color: white;
            @include font-size(1);
            @include line-height(1.25);

            @include mobile {
                @include font-size(1.35);
                @include line-height(1.6)
            }

            @include tablet {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
    a {
        i {
            color: black;
            font-size: 150%;
        }
    }
    @include mobile {
        margin: 15% auto;
    }
}


.box-small {
	width: 80px;
	height: 80px;
	background-color: white;
	margin: 25px 0 0 0;
	&.horizontal {
		display: flex;
		justify-content: center;
	}
	.vertical {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	img {
		margin-left: 10%;
		width: 80%;
	}
	&.hide {
		display: none;
	}
}


#bg-video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	transition: 1s opacity;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#headerwrap {
	min-height: 500px;
	width: 100%;

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	@media (max-width: 768px) {
		background: url(../img/backgrounds/video-pic_mobile.jpg) no-repeat center top;
		h1 {
			margin: 0px;
			font-size: 28px !important;
		}
	}

	@include mobile {
		height: 300px;
	}
	h1 {
		color: 333333;
		@include font-size(6.75);
		font-weight: 800;
		letter-spacing: 30px;
		margin-top: 15%;
		text-transform: uppercase;
		@include tablet {
			font-size: 4rem;
		}
		@include mobile {
			padding-left: 0;
			font-size: 38px;
			letter-spacing: 20px;
		}
	}
	h2 {
		color: white;
		@include font-size(2.1);
		margin-top: 24px;
	}
	h3 {
		margin-top: 80px;
		a:hover {
			color: white;
		}
		@include mobile {
			font-size: 24px;
		}
	}
	h1, h2, a {
		@include tablet {
			margin-left: 0;
		}
		@include mobile {
			margin-left: 10px;
		}
	}
}

html {
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}
html, body {
	/* For the loading indicator to be vertically centered ensure */
	/* the html and body elements take up the full viewport */
	min-height: 100%;
}
html.loading {
	/* Replace #333 with the background-color of your choice */
	/* Replace loading.gif with the loading image of your choice */
	// background: #333 url('/assets/img/backgrounds/gif-load.gif') no-repeat 50% 50%;

	/* Ensures that the transition only runs in one direction */
	-webkit-transition: background-color 0;
	transition: background-color 0;
}
body {
	-webkit-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
}
html.loading body {
	/* Make the contents of the body opaque during loading */
	opacity: 0;

	/* Ensures that the transition only runs in one direction */
	-webkit-transition: opacity 0;
	transition: opacity 0;
}

.subtitle {
	font-family: "open sans";
	font-size: 52px;
	color: white;
	margin-top: 0px;
	font-weight: 400;
}

.subheader {
	background-repeat: no-repeat;
	background-size: 100%;	
	width: 100%;
	height: 300px;
	border-bottom: 25px rgb(207, 53, 59);
	@include mobile {
		height: 140px;
	}
	
}

.subheader .img-overlay {
	h1, h2 {
		color: white;
		font-family: 'open sans';
		font-weight: 600;
	}
	h1 {
		padding: 70px 0 0px 0;
		font-size: 60px;
	}
	h2 {
		margin-top: 0;
		padding-top: 0;
	}
	
	h1 {
		@include mobile {
			font-size: 35px;
		}
	}
	h2 { 
		@include mobile {
			font-size: 25px;
		}
	}
}


@include services_page {
	.top-container {
		background-image: linear-gradient(#666, #000 30%);
    color: white;
    a {
        color: white;
		}
		li {
			font-size: 2em;
			color: #fff;
			@include mobile {
				font-size: 1em;
			}
		}
    p {
        margin-top: 10px;
        text-align: left;
        font-size: 120%;
        font-weight: 400;
    }
    .computer {
				margin-top: 20px !important;
				text-align: center;
				margin-right: auto;
				margin-left: auto;
		}
		.fc {
			margin: 0 !important;
		}
		h3 {
			@include mobile {
				font-size: 150%;
			}
			@include phablet {
				padding: 5px 0;
			}
		}
		.mac-frame {
			@media (max-width: 767px) {
				margin-top: 30px !important;
			}
		}
		img {
			width: 40%;
			padding-top: 30px;
			@include mobile {
				padding-top: 0px;
				width: 60%;
				margin: 10% 0;
			}
		}
		@include tablet {
			.row {
				margin-top: 0;
			}
		}
		@include phablet {
			.row {
				margin-top: 0;
			}
		}
		@include mobile {
			.row {
				margin-top: 0;
			}
		}
	}
}

@include phablet {
	.desktop-only {
		display: none;
	}
}
@include mobile {
	.desktop-only {
		display: none;
	}
}
.desktop-hide {
	display: none;
	@include not_desktop {
		display: block;
	}
}
#features {
	@include mobile {
		img {
			width: 25%;	
		}
		h2 {
			margin-top: 0;
			margin-bottom: 0;
		}		
	}
}


@include portfolio_page {
	background-image: linear-gradient(#666, #000 20%);
	color: white;
	h1 {
		@include font-size(4);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 14px;
		color: white;
		padding: 20px;
		@include mobile {
			@include font-size(3);
		}
	}
	a {
		color: white;
	}
	p {
		margin-top: 10px;
		text-align: left;
		font-size: 120%;
		font-weight: 400;
		@include mobile {
			margin-bottom: 40px;
		}
	}
	.box {
		margin-top: 20px;
		margin-bottom: 10px;
		img {
			margin: 0;
			padding: 0;
			margin-top: 20px;
		}
		#uk_img {
			margin-top: 40px;
		}
		#keeneland_img {
			margin-top: 40px;
		}
		#mobileserve_img {
			margin-top: 80px;
		}
		#bullard_img {
			margin-top: 80px;
		}
	}
	h3 {
		padding-top: 10px;
		@include mobile {
			@include font-size(3);
		}
	}
}


@include contact_page {
	background-image: linear-gradient(#666, #000);
	color: white;
	h1 {
		@include font-size(4);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 14px;
		color: white;
		padding: 20px;
		@include mobile {
			@include font-size(3);
		}
	}
	.contact-page {
		background-image: url("/assets/img/headers/Typing.png");
	}
	p {
		margin: 20px 0;
		font-weight: 400;
	}
	::-webkit-input-placeholder {
		text-align: center;
        color: #000;
	}
	::-moz-placeholder {
		text-align: center;
        color: #000;
	}
	:-moz-placeholder {
		text-align: center;
        color: #000;
	}
	:-ms-input-placeholder {
		text-align: center;
        color: #000;
	}
	@include mobile {
		h3 {
			font-size: 1em;
		}
		p {
			font-size: 0.8em;
			line-height: 1.25em;
		}
		.input-lg {
			height: 28px;
			font-size: 14px;
		}
		.large-box {
			height: 100px;
		}
	}
}


@include about_page {
	color: white;
	.top-container {
		background-image: linear-gradient(#666, #000);
		h1 {
			@include font-size(4);
			font-weight: 700;
			text-transform: uppercase;  
			letter-spacing: 14px;
			padding: 20px;
			@include mobile {
				@include font-size(3);
			}
		}
	}
	iframe {
		padding: 20px;
		@include desktop {
			width: 756px;
			height: 425px;
		}
		@include phablet {
			width: 700px;
			height: 393px;
		}
		@include mobile {
			width: 95%;
		}
	}
	.bot-container {
		background-color: #000;
		background-blend-mode: multiply;
	}
	h2 {
		color: white;
	}
	img {
		width: 70%;
		padding: 10px 0;
		margin-bottom: 10px;
		@include mobile {
			width: 100%;
			margin-left: 0;
		}
	}
	p, ul {
		@include font-size(1.5);
		@include line-height(1.75);
		font-weight: 400;
	}
	ul {
		@include mobile {
			padding-left: 20px;
		}
	}
	li {
		@include line-height(3);
		@include mobile {
			@include line-height(2);
		}
	}
	a {
		color: $color_cardinal_approx;
		font-weight: 600;
		text-transform: uppercase;
	}
	h3 {
		margin: 30px;
	}
}


@include team_page {
	.bot-container {
		background-image: linear-gradient(#666, #000 20%);
		h1 {
			padding: 20px 0;
			@include font-size(4);
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 14px;
			color: white;
			padding: 20px;
			@include mobile {
				@include font-size(3);
			}
		}
	}
	.header {
		background-color: $color_background_grey;
		mix-blend-mode: multiply;
	}
	.col-md-4 {
		padding: 0 60px;
	}
	p.col-md-6, span {	
		padding: 0;
		margin: 0;
	}
	i {
		color: $color_cardinal_approx;
		margin-right: 4px;
		font-size: 1.5em;
		vertical-align: middle;
	}
	a {
		color: black;
	}
	a:hover {
		color: $color_cardinal_approx;
	}
	img {
		width: 100%;
	}
	h3 {
		@include font-size(1.25);
		text-transform: none;
		letter-spacing: 1px;
		color: $color_cardinal_approx;
		font-weight: 400;
		margin-bottom: 0;
	}
	h4 {
		color: $color_cardinal_approx;
		font-weight: 600;
		margin-top: 4px;
		margin-bottom: 0;
		@include font-size(1.3);
		text-transform: uppercase;		
		@include mobile {
			@include font-size(1.1);
		}
	}
	hr {
		border-top: 2px solid #bbb;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	p.phone {
		float: right;
	}
	@include mobile {
		p.phone {
			float: left;
			margin-bottom: -13px;
		}
		p {
			margin-bottom: 5px;
		}
		img {
			padding-top: 20px;
		}
		hr {
			margin: 0.25em;
		}
		h3 {
			margin-top: 10px;
		}
	}
	@include tablet {
		p.phone {
			float: left;
		}
	}
	@include phablet {
		p {
			@include font-size(0.9);
		}
		p.phone {
			float: left;
		}
	}
}

//@extend-elements
//original selectors
//html, body
%extend_1 {
	height: 100%;
	max-width: 100%;
}

//original selectors
//footer .col-lg-4, footer .col-xs-4
%extend_2 {
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}


html {
	@extend %extend_1;
}
body {
	margin-top: 50px;
	@include mobile {
		margin-top: 62px;
	}
	overflow-x: hidden;
	@extend %extend_1;
}
#wrap {
	min-height: calc(100vh - 60px);
}
#main {
	overflow: auto;
	padding-bottom: 150px;
}
.room {
	margin-top: 25px;
	margin-bottom: 25px;
}
.grey-bg {
	background-color: $color_alto_approx;
}
.temp-div {
	height: 35px;
	width: 100%;
	background-color: $color_cardinal_approx;
}
.footer {
	background: white;
	padding-top: 30px;
	.col-lg-3 {
		background-color: white;
		@include phablet {
			display: none;
		}
		@include mobile {
			display: none;
		}
	}
	img {
		width: 70%;
	}
	table tbody {
		a:hover {
			color: $color_cardinal_approx;
		}
		th {
			border-top: none;
			padding: 3px 0;
			@include font-size(1.65);
			letter-spacing: 2px;
			color: $gray;
			font-weight: 700;
			text-transform: uppercase;
			@include mobile {
				letter-spacing: 0;
			}
		}
		tr {
			margin-bottom: 5px;
		}
		tr td {
			@include font-size(1.5);
			border-top: none;
			padding: 1px;
		}
		@include mobile {
			th {
				font-size: 0.8em;
			}
			tr td {
				padding: 0;
				padding-right: 2px;
				@include font-size(1.2);
			}
			img {
				display: none;
			}
		}
	}
	position: relative;
	clear: both;
	h4 {
		color: $color_pumice_approx;
		font-weight: 400;
	}
	.row {
		margin: 0;
	}
	li {
		list-style-type: none;
		margin-bottom: 10px;
	}
	a {
		color: $color_shady_lady_approx;
	}
	img {
		margin-bottom: 10px;
	}
	@include mobile {
		.col-sm-9, .container {
			padding-left: 5px;
			padding-right: 0px;
		}
	}
}
.ic_container {
	vertical-align: baseline;
	margin: 10px;
	position: relative;
}
.overlay {
	opacity: 0.3;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.ic_caption {
	position: absolute;
	opacity: 0.6;
	overflow: hidden;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	cursor: default;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	h3 {
		padding: 0 5px 5px;
		margin: 0;
		font-size: 18px;
	}
}
.ic_category {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 3px;
	padding: 5px;
	margin: 0;
}
.ic_text {
	padding: 5px;
	margin: 0;
	text-align: justify;
	font-size: 11px;
}
#CustInfo {
	width: 100%;
	padding: 5px;
	margin: 5px;
}
#QuoteInfo {
	width: 100%;
	h2 {
		font-size: 35px !important;
	}
	p {
		line-height: 25px !important;
	}
}
#QuoteOpen {
	margin-left: 32%;
}
#WthroughAnchor {
	height: 50px;
	width: 100%;
}
#Wthrough {
	background-color: $color_pippin_approx;
	width: 100% !important;
	min-height: 366px;
}

.row {
	margin: 25px 0;
	@include mobile {
		margin: 0;
		&:last-child {
			margin-bottom: 25px;
		}
	}
}

#features a:hover {
	img {
		filter: none;
		-webkit-filter: none;
	}
}
#features img {
	text-align: center;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	&:hover {
		filter: none;
		-webkit-filter: none;
	}
	@include mobile {
		padding-top: 20px;
	}
}
.segment img {
	width: 45%;
	height: 100%;
	text-align: center;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	&:hover {
		text-align: center;
		filter: none;
		-webkit-filter: none;
	}
}
div.teammate {
	background-color: $color_silver_chalice_approx;
	width: 80%;
	height: 250px;
	margin: auto;
	display: block;
}
.teammate img {
	width: 50%;
	border-radius: 50%;
	margin-top: 10px;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}


// Hubspot meetings form components
.floating-action-btn {
	background: #ED2D3F;
	border-radius: 100%;
	bottom: 0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	height: 56px;	
	margin-bottom: 24px;
	margin-right: 24px;
	margin-top: 24px;
	position: fixed;
	right: 0;
	width: 56px;
	z-index: 1;
	&:hover {
		background: #BC1B27;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	}
	&:active {
		background: #BC1B27;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	}
	&:focus {
		outline: 0 !important;
	}

	i {
		color: white;
		font-size: 22px;
	}
}
.tooltip.top .tooltip-inner {
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  color: black;
}
.tooltip.top .tooltip-arrow {
  border-top-color: white;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
}
#hubspot-meetings-form {
	bottom: 0;
	margin-top: 50px;
	overflow-y: scroll;
	padding: 20px 5px 0px 5px;
	position: absolute;
	right: 0;
	top: 0;
}

